/*Contact section*/
.content-header{
	font-family: 'Oleo Script', cursive;
	color:#000;
	font-size: 45px;
}

.section-content{
	text-align: center; 

}
#contact{
	font-family: 'Teko', sans-serif;
	padding-top: 60px;
	width: 100%;
	width: 100vw;
	height: 550px;
	color : #000;    
}
.contact-section{
	padding-top: 40px;
}
.contact-section .col-md-6{
	width: 50%;
}

.form-line{
	border-right: 1px solid #B29999;
}

.form-group{
	margin-top: 10px;
}
label{
	font-size: 1.3em;
	line-height: 1em;
	font-weight: normal;
}
.form-control{
	font-size: 1.3em;
	color: #080808;
}
textarea.form-control {
	height: 135px;
	 /* margin-top: px;*/
}
.submit{
	float: right;
	width: 50%;
	background-color: grey;
	color: #fff;
}

#map{
    width: 400px;
    height: 400px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.tm-location-img-container {
	padding-top: 50pc;
	background-image: url('../img/milan.jpg');
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
}

.img-service {
	width: auto;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 400px;
	height: 400px;
	margin-left: 20px;
}

/*People index*/
.photoPersonal{
	float: left;
	margin-right: 10px;
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
	background-size: 100% auto;
}

.indexPeopleFooter{
	text-align: center;
}

.selectedIndex{
	margin-left: 5px;
	margin-right: 5px;
	color: #cc9900;
	text-decoration: underline #cc9900;
}
.selectedIndex:hover{
	color: #ffc61a;
	text-decoration: underline #ffc61a;
}

.normalIndex{
	margin-left: 5px;
	margin-right: 5px;
	color: grey;
}
.normalIndex:hover{
	color: #ffc61a;
}

/* News Index*/
.wrapNew {
	position: relative;
}

.bodyNew {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(29, 106, 154, 0.72);
	color: #cc9900;
	visibility: hidden;
	opacity: 0;
	margin-bottom: 0;
	margin-left: 2%;
	margin-right: 2%;
	text-align: center;
	vertical-align: middle;
	
	transition: opacity .2s, visibility .2s;
}

.wrapNew:hover .bodyNew {
	visibility: visible;
	opacity: 1;
}